body {
    font-family: serif;
    font-size: 13pt;
    margin: 2em;
    line-height: 1.4em;
}

div#c {
    width: 500px;
    margin: 0 auto 5em auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    font-size: 13pt;
    font-weight: bold;
}

h1 {
    letter-spacing: 2px;
}

h2 {
    font-style: italic;
    letter-spacing: 1px;
}

img {
    margin: 1em 0;
}

div.footer a.prev {
    float: left;
}

div.footer a.next {
    float: right;
}