<!DOCTYPE html>
<html lang="en">

<head>
  <title>Thirtyfour.org</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="34" />
  <meta name="author" content="Thirtyfour.org authors" />
  <meta name="keywords" content="thirtyfour thirty four 34 little mood internet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.00">
  <link href="/css/base.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="c">
    <div class="header">
      <h1>Thirtyfour.org</h1>
      <h2>Little mood</h2>
    </div>
    <div class="content">
      {{- range .Images }}
      <a class="image" href="/img/{{ .Original }}"><img src="/img/{{ .Thumbnail }}" width={{ .Width }} height={{ .Height }} /></a>
      {{- end }}
    </div>
    <div class="footer">
      {{ if .ShowPrev }}<a class="prev" href="/{{ .Prev }}">Prev</a>{{ end }}{{ if and .ShowPrev .ShowNext }} {{ end }}{{ if .ShowNext }}<a class="next" href="/{{ .Next }}">Next</a>{{ end }}
    </div>
</body>
<script src="js/infinite.js" type="text/javascript"></script>
</html>
